<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="{{url_for('products_list')}}" class="logo">
                <img src="/static/img.png" alt="log" class="mainlogo">
            </a>

            <div class="navbar-wrap">
                <ul class="navbar-menu">
                <li><a href="{{url_for('products_list')}}" class="prod">
                    <img src="/static/products.png" class="products_ic" alt="prod_ic">
                </a></li>
                <li><a href="#" class="search">
                    <img src="/static/search.svg" alt="search_ic">
                </a></li>
                <li><a href="{{url_for('cart')}}" class="cart">
                    <img src="/static/cart.svg" alt="cart_ic">
                </a></li>
                <li><div class="profilepref">
                {% if session.get('name') == None %}
                <a href="{{ url_for ('signup') }}">
                    <img src="/static/login.svg" class="profile" alt="profile1">
                </a>
                {% endif %}
                {% if session['name']%}
                <a href="{{ url_for ('profile') }}">
                    <img src="/static/profile.svg" class="profile" alt="profile">
                </a>
                <label for="name" class="username"><b>{{ session['name'] }}</b></label>
                {% else %}
                <label for="name" class="notauth">Вы еще не вошли</label>
                {% endif %}
            </div></li>
            </ul>
            </div>


        </div>
    </nav>

    <div class="cards_list">
        {% for product in products %}
            <div class="card">
                <img src="/static/images/l186sR15.jpg" class="card-img" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h5 class="card-text">{{ product.price }}</h5>
                    <a href="{{ url_for('cart', p_id=product['product_id']) }}">Add to cart</a>                </div>
            </div>
        {% endfor %}
        </div>


</body>
</html>